:root {
    --primary-color: rgb(55, 136, 112);
    --primary-text-color: white;
}

body {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* HEADER */
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding-bottom: 20px;
}

.header-title {
    color: var(--primary-text-color);
}

.header-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.menu-item {
    padding: 10px;
    color: var(--primary-text-color);
    cursor: pointer;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    padding: 40px 0;
}

.footer-item {
    color: var(--primary-text-color);
}

/* INDEX */

.select-dropdown {
    width: 250px;
    padding: 10px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    background-color: #fff;
    color: var(--primary-color);
    font-size: 16px;
    cursor: pointer;
    appearance: none;
}

.select-dropdown:focus {
    outline: none;
}

.select-option {
    color: var(--primary-color);
    margin: 10px;
    appearance: none;
}

.select-option:hover {
    appearance: none;
}

.flex-box {
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    row-gap: 10px;
    max-width: 100%;
}

.flex-item {
    width: calc((100% / 3) - 10px);
    height: 500px;
    overflow: hidden;
}

.flex-image {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .flex-item {
        width: calc((100% / 2) - 10px);
    }
}

@media screen and (max-width: 400px) {
    .flex-item {
        width: 100%;
    }
}

/* IMAGE */
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-item {
    margin: 10px;
}

.image-item img {
    width: 200px;
    height: auto;
}

/* FORMS */

.form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 30px 0;
}

.form-button {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    padding: 10px;
    width: fit-content;
    border: none;
    border-radius: 4px;
}